/*
.flexdiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
*/

.rulla {
    width: 80px;
    height: 80px;
    background-image: url('../rulla80.png');
    background-position: 0px 0px;
    background-repeat: repeat-y;
    border: 2px solid black;
    margin: 0 5px;
}

#alrtteksti {
    transition: color 1s;
}

#alrt {
    transition-property: border-color, background-color;
    transition-duration: 0.5s;
}

.kehys {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 4px;
}

.pienikuva {
    content: url('../rulla80.png');
    transform: scale(0.5) translate(0,var(--offset));
    transform-origin: 0% 0%;
}
