.rullat {
    width: 80px;
    height: 80px;
    background-image: url('rulla80.png');
    background-position: 0px 0px;
    background-repeat: repeat-y;
    margin: 1px;
    border: 2px solid black;
}

.teksti {
    width: 80px;
    margin: 0 3px;
    font-size: large;
    text-align: center;
}

#voittoteksti {
    display: none;
}

.kehys {
    width: 40px;
    height: 40px; 
    border: 1px solid black;
    overflow: hidden;
    margin-top: 2px;
}

#pieniomena {
    transform: scale(0.5) translate(0,0px); 
    transform-origin: 0% 0%;
}

#pienimeloni {
    transform: scale(0.5) translate(0,-80px); 
    transform-origin: 0% 0%;
}